.accordion {
  &::before {
    box-shadow:
      inset 0 1px 0 0 var(--border-default-blue-france),
      0 1px 0 0 var(--border-default-blue-france);
  }

  :global(.fr-collapse) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
